<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Sitecore Web Service 2Soap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="Sitecore Web Service 2Soap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://scdev/sitecore/shell/WebService/Service2.asmx"
                binding="basicHttpBinding" bindingConfiguration="Sitecore Web Service 2Soap"
                contract="SitecoreWebService.SitecoreWebService2Soap" name="Sitecore Web Service 2Soap" />
            <endpoint address="http://scdev/sitecore/shell/WebService/Service2.asmx"
                binding="customBinding" bindingConfiguration="Sitecore Web Service 2Soap12"
                contract="SitecoreWebService.SitecoreWebService2Soap" name="Sitecore Web Service 2Soap12" />
        </client>
    </system.serviceModel>
</configuration>